<link rel="stylesheet" href="/styles/style.css">
<link rel="stylesheet" href="/styles/style_mobile.css">

    <a href="/index">
        <div class="headerleft">
            <div class="profile">
                <img src="/img/profile/profile.png" width="50px" alt="">
                <!-- <div class="responsivemenu">
                    <button>WORK</button>
                    <button>ABOUT</button>
                    <button>中 | EN</button>
                </div> -->
            </div>
            <div>
                <h1>Dane Dane</h1>
                <h3>Digital Designer</h3>
            </div>
        </div>
    </a>
    <div id="menu">
        <ul>
            <a href="/work">
                <li>WORK</li>
            </a>
            <a href="/video">
                <li>VIDEO</li>
            </a>
            <a href="/about">
                <li>ABOUT</li>
            </a>
            <a href="/indexcn">
                <li>中 | EN</li>
            </a>
        </ul>
    </div>
