<link rel="stylesheet" href="/styles/style.css">
<link rel="stylesheet" href="/styles/style_mobile.css">
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.6.0.min.js"></script>
<script src="/header-gitlab.js"></script>

<section id="section-bullet">
    <h1 lang="zh">强项专业</h1>
    <h1 lang="en">Proficiencies</h1>
    <ul>
      <li lang="zh"><strong>平面设计</strong></li>
      <li lang="zh">生成艺术</li>
      <li lang="zh"><strong>UI/UX 设计</strong></li>
      <li lang="zh">动画（2D）</li>
      <li lang="zh"><strong>MG 动画</strong></li>
      <li lang="zh">配音工作</li>

      <li lang="en"><strong>Graphic Design</strong></li>
      <li lang="en">Generative Art</li>
      <li lang="en"><strong>UI/UX Design</strong></li>
      <li lang="en">Animation</li>
      <li lang="en"><strong>Motion Graphics</strong></li>
      <li lang="en">Voice Acting</li>
    </ul>
  </section>

  <section id="section-motiongraphics" class="section-divider">
    <h1 lang="zh">MG 动画</h1>
    <h1 lang="en">Motion Graphics</h1>
    <ul class="section-motiongraphics-container">
      <li class="section-motiongraphics-item-1"></li>
      <li class="section-motiongraphics-item-2"></li>
      <li class="section-motiongraphics-item-3"></li>
    </ul>
    <p class="mediascreen-mobile-tablet" lang="zh">轻击以播放</p>
    <p class="mediascreen-mobile-tablet" lang="en">Tap to Preview</p>
  </section>

  <!-- flex and grid display don't mix, I'm confused. So the grid-gap thing cannot work now in motion graphics, sad:(. -->

  <section id="section-recents" class="section-divider">
    <h1 lang="zh">近期作品</h1>
    <h1 lang="en">Recent Projects</h1>
    <ul class="section-recents-container">
      <div class="section-recents-item">
        <img src="/img/recents/swipy.png">
        <div class="section-recents-item-hovertext">
          <h2 lang="zh">SWIPY 有听</h2>
          <h2 lang="en">Swipy</h2>
          <p lang="zh">弹指之间 音乐互联 手势音乐App</p>
          <p lang="en">Music app with Gestures</p>
        </div>
      </div>
      <div class="section-recents-item">
        <img src="/img/recents/mpd.png">
        <div class="section-recents-item-hovertext">
          <h2>MPD</h2>
          <p>Intelligence Listening</p>
        </div>
      </div>
      <div class="section-recents-item">
        <img src="/img/recents/callbanner.png">
        <div class="section-recents-item-hovertext">
          <h2 lang="zh">CallBanner 概念设计</h2>
          <h2 lang="en">CallBanner</h2>
          <p lang="zh">来电通知栏</p>
          <p lang="en">iOS UX Concept</p>
        </div>
      </div>
      <div class="section-recents-item">
        <img src="/img/recents/mirrorball.png">
        <div class="section-recents-item-hovertext">
          <h2 lang="zh">代号 "mirrorball"</h2>
          <h2 lang="en">Codename "mirrorball"</h2>
          <p lang="zh">Windows UI 概念设计</p>
          <p lang="en">Windows UI Concept</p>
        </div>
      </div>
      <a href="/work/materialicon.html" class="section-recents-item">
        <img src="/img/recents/materialicons.png">
        <div class="section-recents-item-hovertext">
          <h2 lang="zh">Material Icons</h2>
          <h2 lang="en">Material Icons</h2>
          <p lang="zh">图标设计</p>
          <p lang="en">Icon Design</p>
        </div>
      </a>
      <div class="section-recents-item">
        <img src="/img/recents/tangyishao.png">
        <div class="section-recents-item-hovertext">
          <h2 lang="zh">汤一勺餐饮Logo</h2>
          <h2 lang="en">TangYiShao</h2>
          <p lang="zh">图标设计</p>
          <p lang="en">Icon Design</p>
        </div>
      </div>
    </ul>
  </section>
