<link rel="stylesheet" href="/styles/style.css">
<link rel="stylesheet" href="/styles/style_mobile.css">

<ul>
    <li><a href="mailto:dane.design@outlook.com"><img src="/img/contact/email.svg"></a></li>
    <li><a href="https://www.instagram.com/pasteleftdane/"><img src="/img/contact/ig.svg" alt="" target="_blank"></a></li>
    <li><a href="https://www.behance.net/daien_lyu"><img src="/img/contact/behance.svg" alt="" target="_blank"></a></li>
    <li><a href="https://www.linkedin.com/in/daienlyu/"><img src="/img/contact/linkedin.svg" alt="" target="_blank"></a></li>
    <li><a href="https://www.youtube.com/@pasteleftDane"><img src="/img/contact/yt.svg"
                alt="" target="_blank"></a></li>
</ul>