body {
    font-family: 'IBM Plex Sans', 'Helvetica Neue', 'Arial', '-apple-system', 'SF Pro Display', 'PingFang SC', sans-serif;
    font-weight: 500;
}

header {
    z-index: 1000000000000000000000;
}

footer {
    padding-top: 5vh;
}

@media screen and (min-width: 926px) {

    /* overall control */

    *::selection {
        background-color: rgba(0, 0, 0, 0.464);
        color: white;
    }

    body {
        margin: 0;
        /* background-image: url("/img/splash/bg.jpg");
        background-blend-mode: multiply;
        background-repeat: repeat-y;
        background-size: cover; */
    }

    a {
        text-decoration: none;
        color: inherit;
        transition: 0.1s;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        margin-block-start: 0px;
        margin-block-end: 5px;
    }


    h1 {
        font-weight: bolder;
    }

    h3 {
        font-weight: 400;
    }

    ul {
        list-style: none;
        padding-inline-start: 0px;
    }

    p {
        color: #616161;
    }

    header {
        color: #0471A6;
        line-height: 60%;
        /* border-bottom: 1px black solid; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        top: 0;
        z-index: 10000;
        background-color: rgba(255, 255, 255, 0.887);
        backdrop-filter: blur(50px);
        -webkit-backdrop-filter: blur(50px);
        padding: 1vh 5vw;
    }

    header img {
        max-width: 1.5vw;
    }

    section h1 {
        font-size: 2vw;
    }

    section h2 {}

    section h3 {
        text-transform: uppercase;
    }

    footer {
        text-align: center;
    }

    button {
        padding: 5px 50px;
        background: #0074f8;
        border-radius: 10px;
        border: 0px;
        font-family: inherit;
        transition: 0.1s;
        min-height: 5em;
        margin: 0 20px;
    }

    button h3,
    p {
        color: inherit;
    }


    ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    ::-webkit-scrollbar-track {
        background: #00000000;
    }

    ::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.147);
    }

    ::-webkit-scrollbar-thumb:hover {
        background: rgba(0, 0, 0, 0.366);
    }


    /* class */

    .subtitle {
        opacity: 0.5;
    }

    .section-divider {
        margin: 40px 0;
        display: grid;
        row-gap: 30px;
    }

    .section-heading-first {
        text-align: center;
        margin-bottom: 2em;
    }

    .section-heading-first h1 {
        font-size: 3em;
    }

    .section-heading {
        text-align: center;
        margin-top: 5em;
        margin-bottom: 2em;
    }

    .section-heading h1 {
        font-size: 3em;
    }


    .header-left {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;
    }

    .header-profilepic img {
        /* display: flex;
        justify-content: center;
        align-items: center; */
        /* background: #95D1E3;
        -webkit-clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
        clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%); */
        width: 20px;
        /* height: 20px; */
        /* aspect-ratio: 1 / 1; */
        transition: 200ms;
    }

    .header-profilepic:hover {
        clip-path: circle();
    }

    #section-awards {
        color: #0471A6;
        padding: 1em 5vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: #b9d7e1 2px solid;
        position: relative;
        /* background: linear-gradient(to bottom, #86dcf7 0%, #ffffff 60%); */
        /* background-image: url("/img/about/banner-img.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; */
        transition: 1s;
    }

    #section-awards:hover {
        padding-top: +50px;
    }

    #section-awards-mobile {
        display: none;
    }

    .awards-pull-text {
        position: absolute;
        transform: translateX(-50%) translateY(-65px);
        left: 50%;
    }


    .awards-right-portion svg {
        width: 200px;
        fill: #0471A6;
    }

    .awards-showreel-vid {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 900px;
        aspect-ratio: 16 / 9;
        z-index: 100000000000000000000000000;
    }

    .awards-showreel-vid-desktop {
        position: absolute;
        right: 0;
        left: 0;
        /* top: 0; */
        bottom: 0;
        width: 100%;
        z-index: -100;
        /* left: 50%;
        transform: translate(-50%, -70%);
        width: 50%;
        aspect-ratio: 16 / 9; */
    }

    .awards-showreel-vid-overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.517);
        z-index: 10000000000000000000000;
        backdrop-filter: blur(100px);
        -webkit-backdrop-filter: blur(100px);
    }

    .awards-close-btn {
        margin-top: -40px;
        margin-left: 50%;
        transform: translateX(-50%);
        color: rgba(174, 174, 174, 0.792);
        /* top: 70px;
        right: 10px;
        transform: translateY(10px);
        color: rgb(255, 106, 106);
        filter: drop-shadow(0px 0px 6px rgb(162, 10, 10)); */
        transition: 200ms;
        z-index: 1000000000000000000000;
    }

    .awards-close-btn:hover {
        transform: translateX(-50%) translateY(-5px);
        color: rgb(212, 139, 139);
    }

    /* .awards-close-btn:active {
        transform: scale(0.8) translateY(10px);
    } */

    .awards-profile-img {
        object-fit: cover;
        width: 100px;
        height: 100px;
        clip-path: circle();
        margin-bottom: 10px;
    }


    .headline-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
        grid-gap: 40px;
        justify-content: space-between;
        align-items: stretch;
    }

    .headline-item {
        /* background-color: #e9e9e9; */
        display: flex;
        justify-content: space-between;
        /* border-bottom: rgb(192, 192, 192) 5px solid; */
        position: relative;
        flex-direction: column;
        /* border-radius: 15px; */
    }

    .headline-lower-portion span {
        border-radius: 100px;
        background: #f5f5f5;
        padding: 5px 20px 5px 20px;
        position: relative;
        font-weight: lighter;
        border: 1px solid #1e1e1e;
        color: #1e1e1e;
        font-weight: bold;
    }

    .headline-item-album span {
        border-radius: 100px;
        background: #f5f5f5;
        padding: 5px 20px 5px 20px;
        position: relative;
        font-weight: lighter;
        border: 1px solid #1e1e1e;
        color: #1e1e1e;
        font-weight: bold;
    }

    .headline-lower-portion {
        display: flex;
        padding-top: 1em;
        flex-direction: row;
        border-top: rgb(192, 192, 192) 2px solid;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3em;
    }

    .headline-top-portion {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;
    }

    .headline-top-portion img {
        display: none;
    }

    .headline-top-portion-album {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 25px;
    }

    .headline-top-portion-album img {
        margin: 0 10px;
        border-radius: 10px;
        width: 15vw;
    }

    .headline-top-portion-icon {
        padding-bottom: 80px;
    }

    .headline-top-portion-icon img {
        width: 200px;
    }

    .mediascreen-dpi-100 {
        display: inherit;
    }

    .headline-mockup-formatter {
        width: 20em;
        height: 30em;
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        transition: 0.2s;
    }

    .section-recents-container {
        display: grid;
        grid-template-columns: auto auto auto;
        row-gap: 100px;
        column-gap: 30px;
        justify-content: space-between;
    }

    .section-recents-item {
        position: relative;
    }

    .section-recents-item-hovertext {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        background-color: #ffffff73;
        opacity: 0;
        transition: 0.2s;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 10px;
    }

    .section-recents-item-hovertext h2 {
        margin-block-start: -40px;
    }

    .section-recents-item-hovertext p {
        position: absolute;
        bottom: 2vh;
    }

    .section-motiongraphics-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .section-motiongraphics-container li {
        border-radius: 10px;
    }

    .section-motiongraphics-item-1 {
        background-image: url("/img/motiongraphics/quitphubbing.jpeg");
        margin-right: 5px;
    }

    .section-motiongraphics-item-2 {
        background-image: url("/img/motiongraphics/zone.jpeg");
        margin: 0 5px 0 5px;
    }

    .section-motiongraphics-item-3 {
        background-image: url("/img/motiongraphics/dottept1.jpeg");
        margin-left: 5px;
    }

    .mobile-tablet-only {
        display: none;
    }

    .mediascreen-mobile {
        display: none;
    }

    .mediascreen-mobile-tablet {
        display: none;
    }

    .mediascreen-desktop-tablet {
        display: inherit;
    }

    .section-about-profilepic {
        width: 100%;
        height: 30vh;
        background-image: url("/img/about/profile_1.jpg");
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
        border-radius: 15px;
    }

    .section-about-text-container {
        display: inline-grid;
        grid-template-columns: auto auto auto auto;
        gap: 20px;
    }

    .list-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        grid-auto-flow: dense;
        gap: 10px;
    }

    .list-item {
        display: grid;
        grid-template-rows: auto auto;
        gap: 20px;
        width: 350px;
    }

    .list-item img {
        border-radius: 10px;
        width: 350px;
    }

    .list-container-video {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(700px, 1fr));
        gap: 30px;
    }

    .list-item-video {
        display: grid;
        grid-template-columns: 350px auto;
        gap: 20px;
    }

    .list-item-video img {
        border-radius: 10px;
        width: 350px;
    }

    .detail-heading {
        display: grid;
        grid-template-columns: 7em auto;
        grid-gap: 15vw;
        padding: 2vw 0;
        border-bottom: 2px rgb(192, 192, 192) solid;
    }

    .detail-heading img {
        width: 200px;
    }

    .detail-heading-left-portion {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .detail-heading-right-portion {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .detail-btn-text {
        margin-block-start: 0px;
        margin-block-end: 0px;
        color: white;
    }

    .detail-video-mobile {
        display: none;
    }

    .detail-heading-list-container {
        display: grid;
        row-gap: 30px;
    }

    .detail-album-img {
        border-radius: 3px;
    }

    .headline-fixed-icon-badge {
        position: absolute;
        right: 0;
        bottom: 120px;
        z-index: 100000;
    }

    .headline-fixed-icon-badge img {
        width: 100px;
    }

    .splash-screen {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: rgba(255, 255, 255, 0.519);
        font-size: 2em;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        /* animation-name: open;
        animation-duration: 1s;
        animation-delay: 2s;
        animation-fill-mode: forwards; */
        z-index: 10000000000000000;
        backdrop-filter: blur(50px);
        -webkit-backdrop-filter: blur(50px);
        /* background-image: url("/img/splash/daienlyusplash.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; */
    }

    .splash-screen img {
        max-width: 3em;
        display: block;
        animation-name: bounce;
        animation-duration: 1s;
        animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
        animation-fill-mode: forwards;
    }

    .splash-screen h1 {
        display: block;
        animation: cubic-bezier(0.785, 0.135, 0.15, 0.86);
    }

    .infinitebanner-container {
        height: 150px;
        margin: auto;
        overflow: hidden;
        position: relative;
        width: 100%;
    }

    .infinitebanner-container::before,
    .infinitebanner-container::after {
        background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
        content: "";
        height: 100%;
        position: absolute;
        width: 100px;
        z-index: 2;
    }

    .infinitebanner-container::after {
        right: 0;
        top: 0;
        transform: rotateZ(180deg);
    }

    .infinitebanner-container::before {
        left: 0;
        top: 0;
    }

    .infinitebanner-container .infinitebanner-container-track {
        animation: scroll 40s linear infinite;
        display: flex;
        width: calc(250px * 14);
    }

    .infinitebanner-container:hover .infinitebanner-container-track:hover {
        animation-play-state: paused;
    }

    .infinitebanner-container .infinitebanner-item {
        height: 100px;
        width: 250px;
        transition: 0.2s;
    }

    .infinitebanner-item:hover {
        transform: scale(1.1);
    }

    .fullwidthvideo {
        width: 100%;
    }

    .list-item p {
        -webkit-line-clamp: 2;
    }

    .anim-gradient-text {
        /* Fallback: Set a background color. */
        background-color: #fd1d24;

        /* Create the gradient. */
        background-image: linear-gradient(45deg,
                #CA4246 16.666%,
                #E16541 16.666%,
                #E16541 33.333%,
                #F18F43 33.333%,
                #F18F43 50%,
                #8B9862 50%,
                #8B9862 66.666%,
                #476098 66.666%,
                #476098 83.333%,
                #A7489B 83.333%);

        /* Set the background size and repeat properties. */
        background-size: 100%;
        background-repeat: repeat;

        /* Use the text as a mask for the background. */
        /* This will show the gradient as a text color rather than element bg. */
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        /* Animate the text when loading the element. */
        /* This animates it on page load and when hovering out. */
        animation: rainbow-text-simple-animation-rev 0.75s ease forwards;

    }

    .anim-gradient-text:hover {
        animation: rainbow-text-simple-animation 0.5s ease-in forwards;
    }


    /* Move the background and make it smaller. */
    /* Animation shown when entering the page and after the hover animation. */
    @keyframes rainbow-text-simple-animation-rev {
        0% {
            background-size: 650%;
        }

        40% {
            background-size: 650%;
        }

        100% {
            background-size: 100%;
        }
    }

    /* Move the background and make it larger. */
    /* Animation shown when hovering over the text. */
    @keyframes rainbow-text-simple-animation {
        0% {
            background-size: 100%;
        }

        80% {
            background-size: 650%;
        }

        100% {
            background-size: 650%;
        }
    }

    @keyframes scroll {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(calc(-250px * 7));
        }
    }

    @keyframes open {
        0% {
            transform: translate(0, 0);
        }

        100% {
            transform: scale(0);
            opacity: 0;
        }
    }

    @keyframes bounce {
        0% {
            transform: scale(0);
        }

        95% {
            transform: scale(1.1);
        }

        100% {
            transform: scale(1);
        }

    }

    /* id */

    #viewport {
        padding: 1em 8vw;
        /* animation: bounce 1s ease-in 0s initial normal forwards; */
        animation-name: fly-in;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;

    }

    @keyframes fly-in {
        0% {
            transform: translate(0, 50px);
            opacity: 0;
        }

        100% {
            transform: translate(0, 0);
            opacity: 1;
        }

    }

    #section-headline {
        display: grid;
        row-gap: 40px;
    }

    #section-heading {
        /* text-align: center; */
        margin-top: 5vh;
        margin-bottom: 5vh;
    }

    #section-more-trigger {
        position: relative;
        text-align: center;
        padding: 2em;
    }

    #section-more-trigger:hover {
        background-color: #0000004e;
    }

    #header-menu {
        text-align: center;
    }

    #header-menu li {
        display: inline;
        margin: 0 5px 0 5px;
    }

    #contact {
        position: fixed;
        bottom: 3vh;
        right: 3vw;
        /* left: 50%;
    transform: translateX(-50%); */
        border: 1px solid black;
        border-radius: 100px;
        padding: 1px 20px 1px 20px;
        -moz-backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: #ffffffa1;
        z-index: 1000000;
    }

    #contact ul {
        display: flex;
    }

    #contact li {
        flex-direction: row;
        margin: 0 10px 0 10px;
    }

    #contact-desktop {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        gap: 20px;
    }

    #section-bullet {
        text-align: center;
        padding: 10vh 0 10vh 0;
    }

    #section-bullet ul {
        display: inline-flex;
        gap: 20px;
    }

    #section-headline a {
        opacity: 0.7;
    }

    #headline-ywaste {
        /* background-color: #7ED5D0; */
        /* border-bottom: #7ed5d0 2px solid; */
        /* color: #275050; */
    }

    #headline-ywaste span {
        border: 1px solid #3a8080;
        color: #275050;
        background-color: #fff;
    }

    #headline-ywaste-mockup-1 {
        background-image: url("/img/headline/ywaste/browsefilter.png");
    }

    #headline-ywaste-mockup-2 {
        background-image: url("/img/headline/ywaste/vendor.png");
    }

    #headline-ywaste-mockup-3 {
        background-image: url("/img/headline/ywaste/map.png");
    }

    #headline-ywaste-mockup-4 {
        background-image: url("/img/headline/ywaste/darkmode1.png");
    }

    #headline-panasonic-mockup-1 {
        background-image: url("/img/headline/panasonic/home.png");
    }

    #headline-panasonic-mockup-2 {
        background-image: url("/img/headline/panasonic/search.png");
    }

    #headline-panasonic-mockup-3 {
        background-image: url("/img/headline/panasonic/secondpage.png");
    }

    #headline-mpd-mockup-1 {
        background-image: url("/img/headline/mpd/playbagpage.png");
    }

    #headline-mpd-mockup-2 {
        background-image: url("/img/headline/mpd/playbagoverlay.png");
    }

    #headline-mpd-mockup-3 {
        background-image: url("/img/headline/mpd/nowplaying.png");
    }

    #headline-album {
        /* background-image: url("/img/headline/album/albumbg.png");
        color: white;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; */
    }

    #headline-album span {
        /* border: 1px solid white; */
    }

    #section-recents img {
        max-width: 22vw;
        border-radius: 10px;
    }

    #section-motiongraphics li {
        border: 0px solid black;
        width: 35%;
        height: 20em;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        transition: 0.5s;
    }

    #detail-screenshot {
        width: 100%;
        height: max-content;
        white-space: nowrap;
        overflow-y: hidden;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        -webkit-mask-image: linear-gradient(90deg, #000 90%, transparent);
    }

    #detail-screenshot img {
        display: inline;
        height: 60vh;
        margin-right: 2vw;
        border-radius: 10px;
    }

    #detail-screenshot video {
        display: inline;
        height: 60vh;
        margin-right: 2vw;
        border-radius: 10px;
    }

    #detail-details {
        display: block;
        margin: 0;
        padding: 0;
    }

    #detail-details img {
        width: 100%;
    }

    /* interactive animation */

    #section-headline a:hover {
        opacity: 1;
    }

    button:hover {
        /* transform: scale(1.02) translateY(-5px); */
        filter: drop-shadow(0px 20px 20px rgba(0, 0, 0, 0.206));
        /* background: linear-gradient(to bottom, #548aff, #2f71ff); */
    }

    /* #headline-ywaste-mockup-1:hover {
        background-image: url("/img/headline/ywaste/browsefilter.gif");
    }

    #headline-ywaste-mockup-2:hover {
        background-image: url("/img/headline/ywaste/vendor.gif");
    }

    #headline-ywaste-mockup-3:hover {
        background-image: url("/img/headline/ywaste/map.gif");
    }

    #headline-ywaste-mockup-4:hover {
        background-image: url("/img/headline/ywaste/darkmode.gif");
    }

    #headline-panasonic-mockup-1:hover {
        background-image: url("/img/headline/panasonic/home.gif");
    }

    #headline-panasonic-mockup-2:hover {
        background-image: url("/img/headline/panasonic/search.gif");
    }

    #headline-panasonic-mockup-3:hover {
        background-image: url("/img/headline/panasonic/secondpage.gif");
    }

    #headline-mpd-mockup-1:hover {
        background-image: url("/img/headline/mpd/nowplaying.gif");
    }

    #headline-mpd-mockup-2:hover {
        background-image: url("/img/headline/mpd/playbagoverlay.gif");
    }

    #headline-mpd-mockup-3:hover {
        background-image: url("/img/headline/mpd/settings.gif");
    } */

    #section-motiongraphics li:hover {
        width: 80%;
    }

    .section-recents-item:hover .section-recents-item-hovertext {
        opacity: 1;
        transform: scale(1.05);
    }

    .section-motiongraphics-item-1:hover {
        background-image: url("/img/motiongraphics/quitphubbing.gif");
    }

    .section-motiongraphics-item-2:hover {
        background-image: url("/img/motiongraphics/zone.gif");
    }

    .section-motiongraphics-item-3:hover {
        background-image: url("/img/motiongraphics/dottept1.gif");
    }

    /* dark mode */

    @media (prefers-color-scheme: dark) {

        *::selection {
            background-color: rgba(255, 255, 255, 0.427);
            color: #000;
        }

        body {
            background: #1e1e1e;
            color: rgb(225, 225, 225);
        }

        header {
            color: #fff;
            background: #1e1e1e70;
        }

        .detail-heading {
            border-color: rgb(225, 225, 225);
        }

        p {
            color: #acacac;
        }

        ::-webkit-scrollbar-thumb {
            background: rgba(197, 197, 197, 0.147);
        }

        ::-webkit-scrollbar-thumb:hover {
            background: rgba(255, 255, 255, 0.366);
        }

        .section-recents-item-hovertext {
            background-color: #00000073;
        }

        .splash-screen {
            background-color: #1e1e1e70;
        }

        .infinitebanner-container::before,
        .infinitebanner-container::after {
            background: linear-gradient(to right, #1e1e1e 0%, rgba(255, 255, 255, 0) 100%);
        }    

        #section-awards {
            color: #fff;
            /* background-color: rgb(60, 67, 75); */
            border-bottom: none;
        }

        .awards-right-portion svg {
            fill: #fff;
        }

        .headline-lower-portion {
            border-color: rgb(68, 68, 68);
        }
    }
}