/* phone viewport */

/* DPI 150% (1280x720) */
@media screen and (max-width: 1280px) {

    header {
        padding: 1vh 5vw;
        z-index: 1000000000000000000000000000;
    }

    #viewport {
        padding: 1em 7vw;
    }

    .mobile-tablet-only {
        display: none;
    }

    .mobileonly {
        display: none;
    }

    .desktop-tablet-only {
        display: inherit;
    }

    .dpi100only {
        display: none;
    }
}

/* Resolution 4:3 1366x1024 (iPad Pro Landscape) */

@media screen and (max-width:1366px) {
    #viewport {
        padding: 1em 6vw;
    }

    .mobile-tablet-only {
        display: inherit;
    }

    .mobileonly {
        display: none;
    }

    .desktop-tablet-only {
        display: inherit;
    }

    .dpi100only {
        display: none;
    }
    
    header {
        z-index: 1000000000000000000000000000;
    }
}

/* Resolution 4:3 1024x1366 (iPad Pro Portrait & iPad Air Landscape) */

@media screen and (min-width:1024px) and (max-width:1440px) {
    #viewport {
        padding: 1em 7vw;
    }

    .headline {
        display: flex;
        flex-direction: column;
        height: max-content;
        padding-top: 3vh;
    }

    .headlineleft {
        align-items: center;
    }

    .headlineright {
        justify-content: center;
    }

    .headlinerightalbum {
        padding: 2vh 0 5vh 0;
    }

    .mobile-tablet-only {
        display: inherit;
    }
}


/* Mobile Phone Layout */

@media screen and (max-width: 926px) {

    * {
        margin-right: 0;
        margin-left: 0;
        -webkit-user-select: none;
    }

    body {
        margin: 0;
        max-width: 100%;
        overflow-x: hidden;
        -webkit-user-select: none;
        font-family: '-apple-system', 'SF Pro Display', 'Helvetica Neue', 'Arial', 'PingFang SC', sans-serif;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    h1 {
        font-weight: bolder;
    }

    h2 {
        margin-block-start: 10px;
        margin-block-end: -10px;
        line-height: 120%;
    }

    h3 {
        font-weight: 400;
    }

    ul {
        list-style: none;
        padding-inline-start: 0px;
    }

    p {
        color: #838383;
    }

    header {
        position: sticky;
        top: 0px;
        line-height: 0;
        opacity: 1;
        background: rgb(255, 255, 255);
        border-bottom: #000 solid 1px;
        z-index: 1000000000000000000000000000;
    }

    .headerleft {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }

    #menu-mobile {
        /* display: none; */
        /* display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-end; */
        /* display: grid;
        grid-template-columns: auto auto auto auto auto;
        gap: 20px;
        justify-content: start; */
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 2em;
        background-color: rgba(219, 219, 219, 0.527);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        z-index: -10000;
        border-bottom: #000 solid 1px;
    }

    #menu-mobile ul {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .profile img {
        width: 20px;
    }

    /* except header */
    section {
        margin: 0;
        padding: 5vh 0vw;
    }

    section h1 {
        font-size: 3em;
    }

    section h2 {
        font-size: 2em;
    }

    section h3 {
        text-transform: uppercase;
    }

    section span {
        border-radius: 100px;
        background: #f5f5f527;
        padding: 4px 10px;
        position: relative;
        font-weight: lighter;
        /* ie6 border fix*/
    }

    section>h1,
    h2,
    h4,
    h5,
    span,
    p {
        padding: 0 5vw;
    }

    button {
        padding: 10px 60px;
        background: linear-gradient(to bottom, #548aff, #2f71ff);
        border: 0px;
        border-radius: 5px;
        font-family: inherit;
        transition: 0.1s;
        margin-bottom: 20px;
    }

    button h3,
    p {
        color: inherit;
    }

    footer {
        text-align: center;
    }

    /* class */

    .mobile-tablet-only {
        display: inherit;
    }

    .mobileonly {
        display: inherit;
    }

    .desktop-tablet-only {
        display: none;
    }

    .dpi100only {
        display: inherit;
    }

    .responsivemenu {
        /* display: none; */
        display: grid;
        grid-template-columns: auto auto auto;
    }

    .headline {
        margin: 2vh 0 2vh 0;
        border: 0px black solid;
        height: min-content;
    }

    .headlineleft {
        display: block;
    }

    .headlineright {
        height: 100%;
        white-space: nowrap;
        overflow-y: hidden;
        overflow-x: scroll;
        padding-left: 5vw;
        -webkit-overflow-scrolling: touch;
        -webkit-mask-image: linear-gradient(90deg, #000 80%, transparent);
    }

    .headlineright img {
        display: inline;
        width: 200px;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .headlinerightalbum {
        height: 100%;
        white-space: nowrap;
        overflow-y: hidden;
        overflow-x: scroll;
        padding-left: 5vw;
        -webkit-overflow-scrolling: touch;
        -webkit-mask-image: linear-gradient(90deg, #000 80%, transparent);
    }

    .headlinerightalbum img {
        width: 300px;
        display: inline;
        background-repeat: no-repeat;
        background-size: contain;
        margin: 0 0 0 5vw;
        border-radius: 13px;
    }

    .horizontalul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .motiongraphics1 {
        background-image: url("/img/motiongraphics/quitphubbing.jpg");
        margin-bottom: 1vh;
    }

    .motiongraphics2 {
        background-image: url("/img/motiongraphics/zone.png");
    }

    .motiongraphics3 {
        background-image: url("/img/motiongraphics/dottept1.jpg");
        margin-top: 1vh;
    }

    .horizontaldiv {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 5vh;
        width: 100%;
    }

    .youtubestylelist {
        display: grid;
        gap: 7vh;
    }

    .youtubestylecell {
        display: grid;
        gap: 2vh;
        border-bottom: 1px solid rgb(219, 219, 219);
    }

    .youtubestylecell img {
        width: 100%;
    }

    .landscapepicture {
        width: 100%;
        height: 30vh;
        background-image: url("/img/about/profile_1.jpg");
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
    }

    .detailheaderleft {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .detailvideomobile {
        display: block;
        width: 100%;
    }
    

    .splash {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: rgba(255, 255, 255, 0.519);
        font-size: 2em;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        animation-name: open;
        animation-duration: 1s;
        animation-delay: 2s;
        animation-fill-mode: forwards;
        z-index: 10000000000000000;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        text-align: center;
        /* background-image: url("/img/splash/daienlyusplash.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; */
    }

    .splash img {
        max-width: 3em;
        display: block;
        animation-name: ascending;
        animation-duration: 1s;
        animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
        animation-fill-mode: forwards;
    }

    .splash h1 {
        display: block;
        animation: cubic-bezier(0.785, 0.135, 0.15, 0.86);
    }

    @keyframes open {
        0% {
            transform: translate(0, 0);
        }

        100% {
            transform: scale(0);
            opacity: 0;
        }
    }

    @keyframes ascending {
        0% {
            transform: translate(0, 100px);
            opacity: 0;
        }

        95% {
            transform: translate(0, -10px);
            opacity: 1;
        }

        100% {
            transform: translate(0px);
        }
    }

    .slider {
        height: 150px;
        margin: auto;
        overflow: hidden;
        position: relative;
        width: 100%;
    }

    .slider::before,
    .slider::after {
        content: "";
        height: 150px;
        position: absolute;
        width: 200px;
        z-index: 2;
    }

    .slider::after {
        right: 0;
        top: 0;
        transform: rotateZ(180deg);
    }

    .slider::before {
        left: 0;
        top: 0;
    }

    .slider .slide-track {
        animation: scroll 40s linear infinite;
        display: flex;
        width: calc(250px * 14);
    }

    .slider:hover .slide-track:hover {
        animation-play-state: paused;
    }

    .slider .slide {
        height: 100px;
        width: 250px;
        transition: 0.2s;
    }

    .gradient-text {
        /* Fallback: Set a background color. */
        background-color: #fd1d24;

        /* Create the gradient. */
        background-image: linear-gradient(45deg,
                #CA4246 16.666%,
                #E16541 16.666%,
                #E16541 33.333%,
                #F18F43 33.333%,
                #F18F43 50%,
                #8B9862 50%,
                #8B9862 66.666%,
                #476098 66.666%,
                #476098 83.333%,
                #A7489B 83.333%);

        /* Set the background size and repeat properties. */
        background-size: 100%;
        background-repeat: repeat;

        /* Use the text as a mask for the background. */
        /* This will show the gradient as a text color rather than element bg. */
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        /* Animate the text when loading the element. */
        /* This animates it on page load and when hovering out. */
        animation: rainbow-text-simple-animation-rev 0.75s ease forwards;

    }

    .gradient-text:hover {
        animation: rainbow-text-simple-animation 0.5s ease-in forwards;
    }


    /* Move the background and make it smaller. */
    /* Animation shown when entering the page and after the hover animation. */
    @keyframes rainbow-text-simple-animation-rev {
        0% {
            background-size: 650%;
        }

        40% {
            background-size: 650%;
        }

        100% {
            background-size: 100%;
        }
    }

    /* Move the background and make it larger. */
    /* Animation shown when hovering over the text. */
    @keyframes rainbow-text-simple-animation {
        0% {
            background-size: 100%;
        }

        80% {
            background-size: 650%;
        }

        100% {
            background-size: 650%;
        }
    }

    @keyframes scroll {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(calc(-250px * 7));
        }
    }



    /* id */

    #viewport {
        padding: 5vh 0;
    }

    #contact {
        position: fixed;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        border: 1px solid black;
        border-radius: 100px;
        padding: 1px 20px;
        backdrop-filter: blur(10px);
        background-color: #ffffffa1;
        z-index: 1000000;
        -webkit-backdrop-filter: blur(30px);
    }

    #contact ul {
        display: flex;
    }

    #contact li {
        flex-direction: row;
        margin: 0 10px 0 10px;
    }

    #intermediate {
        text-align: center;
    }

    #intermediate ul {
        display: block;
        gap: 20px;
    }

    #ywaste {
        background-color: #dbdbdb;
        color: #3a8080;
    }

    #ywaste span {
        border: 1px solid #3a8080;
    }

    #panasonic {
        border: solid #064288;
        border-width: 2px 0px;
        color: #064288;
    }

    #panasonic span {
        border: 1px solid #064288;
    }

    #mpd {
        background-color: #031d57;
        color: #ffffff;
    }

    #ywastemockup1 {
        background-image: url("/img/headline/ywaste/browse.png");
    }

    #ywastemockup2 {
        background-image: url("/img/headline/ywaste/vendor.png");
    }

    #ywastemockup3 {
        background-image: url("/img/headline/ywaste/map.png");
    }

    #panasonicmockup1 {
        background-image: url("/img/headline/panasonic/home.png");
    }

    #panasonicmockup2 {
        background-image: url("/img/headline/panasonic/search.png");
    }

    #panasonicmockup3 {
        background-image: url("/img/headline/panasonic/secondpage.png");
    }

    #album {
        background-image: url("/img/headline/album/albumbg.png");
        color: white;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

    }

    #album span {
        border: 1px solid white;
    }

    #recents img {
        width: 100%;
    }

    #motiongraphics li {
        border: 0px solid black;
        width: 100%;
        height: 10vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        transition: 0.5s;
    }

    #detailheader {
        display: grid;
        grid-template-row: auto auto;
        grid-gap: 50px;
        width: 100%;
    }

    #detailheader img {
        width: 200px;
    }

    #detailscreenshot img {
        display: inline;
        height: 50vh;
        margin-right: 1vw;
    }

    #detailscreenshot video {
        display: none;
    }

    #detailscreenshot {
        height: max-content;
        white-space: nowrap;
        overflow-y: hidden;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        -webkit-mask-image: linear-gradient(90deg, #000 80%, transparent);
        padding-left: 10vw;
    }

    .detailbuttontext {
        margin-block-start: 0px;
        margin-block-end: 0px;
        color: white;
    }

    #detailbehance {
        display: block;
    }

    #detailbehance img,
    video {
        width: 100%;
    }

    /* interactive animation */

    a:hover {
        opacity: 0.5;
    }

    #ywastemockup1:hover {
        background-image: url("/img/headline/ywaste/browsefilter.gif");
    }

    #ywastemockup2:hover {
        background-image: url("/img/headline/ywaste/vendor.gif");
    }

    #ywastemockup3:hover {
        background-image: url("/img/headline/ywaste/map.gif");
    }

    #panasonicmockup1:hover {
        background-image: url("/img/headline/panasonic/home.gif");
    }

    #panasonicmockup2:hover {
        background-image: url("/img/headline/panasonic/search.gif");
    }

    #panasonicmockup3:hover {
        background-image: url("/img/headline/panasonic/secondpage.gif");
    }

    #motiongraphics li:hover {
        height: 30vh;
    }

    .motiongraphics1:hover,
    .motiongraphics1:active {
        background-image: url("/img/motiongraphics/quitphubbing.gif");
    }

    .motiongraphics2:hover,
    .motiongraphics2:active {
        background-image: url("/img/motiongraphics/zone.gif");
    }

    .motiongraphics3:hover,
    .motiongraphics3:active {
        background-image: url("/img/motiongraphics/dottept1.gif");
    }

    /* dark mode */

    @media (prefers-color-scheme: dark) {
        body {
            background: #1e1e1e;
            color: rgb(225, 225, 225);
        }

        header {
            background: #1e1e1e;
            border-bottom: rgb(0, 0, 0) solid 1px;    
        }

        #menu-mobile {
            background-color: rgba(30, 30, 30, 0.466);
        }

        #panasonic {
            border-color: #0074f8;
            color: #0074f8;
        }

        #panasonic span {
            color: #0074f8;
        }

        p {
            color: #acacac;
        }

        .youtubestylecell {
            border-bottom: 1px solid rgb(66, 66, 66);
        }

        .splash {
            background-color: #1e1e1e70;
            text-align: center;
        }

    }
}

/* Mobile Phone Landscape Fix */

@media screen and (min-width: 568px) and (max-width: 926px) {
    
    .headlinerightalbum img {
        width: 200px;
        margin: 0 5px;
    }
}