/* phone viewport */

/* DPI 150% (1280x720) */
@media screen and (max-width: 1280px) {

    header {
        padding: 1vh 5vw;
        z-index: 1000000000000000000000000000;
    }

    #viewport {
        padding: 1em 7vw;
    }

    #section-awards {
        padding: 1em 7vw;
    }

    .mediascreen-mobile-tablet {
        display: none;
    }

    .mediascreen-mobile {
        display: none;
    }

    .mediascreen-desktop-tablet {
        display: inherit;
    }

    .mediascreen-dpi-100 {
        display: none;
    }
}

/* Resolution 4:3 1366x1024 (iPad Pro Landscape) */

@media screen and (max-width:1366px) {
    body {
        -webkit-user-select: none;
    }

    #viewport {
        padding: 1em 6vw;
    }

    #section-awards {
        padding: 1em 6vw;
    }

    .mediascreen-mobile-tablet {
        display: inherit;
    }

    .mediascreen-mobile {
        display: none;
    }

    .mediascreen-desktop-tablet {
        display: inherit;
    }

    .mediascreen-dpi-100 {
        display: none;
    }

    header {
        z-index: 1000000000000000000000000000;
    }
}

/* Resolution 4:3 1024x1366 (iPad Pro Portrait & iPad Air Landscape) */

@media screen and (min-width:1024px) and (max-width:1440px) {

    body {
        -webkit-user-select: none;
    }

    #viewport {
        padding: 1em 7vw;
    }

    #section-awards {
        padding: 1em 7vw;
    }

    .mediascreen-mobile-tablet {
        display: inherit;
    }
}


/* Mobile Phone Layout */

@media screen and (max-width: 926px) {

    * {
        margin-right: 0;
        margin-left: 0;
        -webkit-user-select: none;
    }

    body {
        margin: 0;
        max-width: 100%;
        overflow-x: hidden;
        -webkit-user-select: none;
        font-family: '-apple-system', 'SF Pro Display', 'Helvetica Neue', 'Arial', 'PingFang SC', sans-serif;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    h1 {
        font-weight: bolder;
    }

    h3 {
        font-weight: 400;
    }

    ul {
        list-style: none;
        padding-inline-start: 0px;
    }

    p {
        color: #838383;
    }

    header {
        position: sticky;
        top: 0px;
        line-height: 0;
        opacity: 1;
        background: rgb(255, 255, 255);
        border-bottom: #000 solid 1px;
        z-index: 1000000000000000000000000000;
    }

    .header-left {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        height: 35px;
    }

    #header-menu-mobile {
        /* display: none; */
        /* display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-end; */
        /* display: grid;
        grid-template-columns: auto auto auto auto auto;
        gap: 20px;
        justify-content: start; */
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 2em;
        background-color: rgba(219, 219, 219, 0.527);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        z-index: -10000;
        border-bottom: #000 solid 1px;
    }

    #header-menu-mobile ul {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .header-profilepic img {
        width: 20px;
    }

    /* except header */

    section h1 {
        text-transform: uppercase;
    }

    section>h1,
    h2,
    h3,
    h4,
    h5,
    p {
        padding: 0 5vw;
    }

    button {
        padding: 10px 60px;
        background: linear-gradient(to bottom, #548aff, #2f71ff);
        border: 0px;
        border-radius: 5px;
        font-family: inherit;
        transition: 0.1s;
        margin-bottom: 20px;
    }

    button h3,
    p {
        color: inherit;
    }

    footer {
        text-align: center;
    }

    /* class */

    .mediascreen-mobile-tablet {
        display: inherit;
    }

    .mediascreen-mobile {
        display: inherit;
    }

    .mediascreen-desktop-tablet {
        display: none;
    }

    .mediascreen-dpi-100 {
        display: inherit;
    }

    .section-divider {
        margin: 10px 0;
    }

    .awards-showreel-vid-caption-mobile {
        position: absolute;
        width: 100%;
        z-index: 10;
        bottom: 0;
        padding-bottom: 20px;
        background-color: rgba(0, 0, 0, 0.266);
        color: #fff;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }

    .awards-right-portion {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .awards-right-portion svg {
        width: 100px;
        fill: #fff;
    }

    .headline-item {
        margin: 80px 0;
        height: min-content;
        padding: 30px 0;
        /* display: flex;
        flex-direction: column-reverse; */
    }

    .headline-item span {
        border-radius: 100px;
        background: #f5f5f527;
        padding: 10px 50px;
        position: relative;
        font-weight: bold;
    }

    .headline-item h2 {
        margin-block-start: 0px;
        margin-block-end: -10px;
        line-height: 120%;
    }

    .headline-item-album {
        border: 0px black solid;
        height: min-content;
        padding: 30px 0;
    }

    .headline-item-album span {
        border-radius: 100px;
        background: #f5f5f527;
        padding: 10px 50px;
        position: relative;
        font-weight: bold;
    }

    .headline-top-portion {
        display: block;
        text-align: center;
        margin-bottom: 40px;
    }

    .headline-lower-portion {
        height: 100%;
        white-space: nowrap;
        overflow-y: hidden;
        overflow-x: scroll;
        padding-left: 5vw;
        -webkit-overflow-scrolling: touch;
        -webkit-mask-image: linear-gradient(90deg, #000 80%, transparent);
    }

    .headline-lower-portion img {
        display: inline;
        width: 200px;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .headline-lower-portion-album {
        height: 100%;
        white-space: nowrap;
        overflow-y: hidden;
        overflow-x: scroll;
        padding-left: 5vw;
        -webkit-overflow-scrolling: touch;
        -webkit-mask-image: linear-gradient(90deg, #000 80%, transparent);
    }

    .headline-lower-portion-album img {
        width: 300px;
        display: inline;
        background-repeat: no-repeat;
        background-size: contain;
        margin: 0 0 0 5vw;
        border-radius: 13px;
    }

    .headline-lower-portion-icon img {
        width: 150px;
    }

    .headline-fixed-icon-badge {
        text-align: center;
        margin-top: -70px;
    }

    .headline-fixed-icon-badge img {
        width: 100px;
    }

    .section-motiongraphics-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .section-motiongraphics-item-1 {
        background-image: url("/img/motiongraphics/quitphubbing.jpg");
        margin-bottom: 1vh;
    }

    .section-motiongraphics-item-2 {
        background-image: url("/img/motiongraphics/zone.png");
    }

    .section-motiongraphics-item-3 {
        background-image: url("/img/motiongraphics/dottept1.jpg");
        margin-top: 1vh;
    }

    .section-recents-container {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 5vh;
        width: 100%;
    }

    .list-container {
        display: grid;
        gap: 7vh;
    }

    .list-container h2 {
        margin-block-start: 5px;
        margin-block-end: 10px;
    }

    .list-container p {
        margin-block-start: 2px;
    }

    .list-item {
        display: grid;
        gap: 2vh;
        border-bottom: 1px solid rgb(219, 219, 219);
    }

    .list-item img {
        width: 100%;
    }

    .list-item-video img {
        width: 100%;
    }

    .section-about-profilepic {
        width: 100%;
        height: 30vh;
        background-image: url("/img/about/profile_1.jpg");
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
    }

    .detail-heading {
        display: grid;
        grid-template-rows: auto auto;
        grid-gap: 50px;
        width: 100%;
    }

    .detail-heading img {
        width: 200px;
    }

    .detail-heading-left-portion {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .detail-btn-text {
        margin-block-start: 0px;
        margin-block-end: 0px;
        color: white;
    }

    .detail-video-mobile {
        display: block;
        width: 100%;
    }

    .splash-screen {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: rgba(255, 255, 255, 0.519);
        font-size: 2em;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        animation-name: open;
        animation-duration: 1s;
        animation-delay: 2s;
        animation-fill-mode: forwards;
        z-index: 10000000000000000;
        backdrop-filter: blur(50px);
        -webkit-backdrop-filter: blur(50px);
        text-align: center;
        /* background-image: url("/img/splash/daienlyusplash.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; */
    }

    .splash-screen img {
        max-width: 3em;
        display: block;
        animation-name: ascending;
        animation-duration: 1s;
        animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
        animation-fill-mode: forwards;
    }

    .splash-screen h1 {
        display: block;
        animation: cubic-bezier(0.785, 0.135, 0.15, 0.86);
    }

    @keyframes open {
        0% {
            transform: translate(0, 0);
        }

        100% {
            transform: scale(0);
            opacity: 0;
        }
    }

    @keyframes ascending {
        0% {
            transform: translate(0, 100px);
            opacity: 0;
        }

        95% {
            transform: translate(0, -10px);
            opacity: 1;
        }

        100% {
            transform: translate(0px);
        }
    }

    .infinitebanner-container {
        height: 150px;
        margin: auto;
        overflow: hidden;
        position: relative;
        width: 100%;
    }

    .infinitebanner-container::before,
    .infinitebanner-container::after {
        content: "";
        height: 150px;
        position: absolute;
        width: 200px;
        z-index: 2;
    }

    .infinitebanner-container::after {
        right: 0;
        top: 0;
        transform: rotateZ(180deg);
    }

    .infinitebanner-container::before {
        left: 0;
        top: 0;
    }

    .infinitebanner-container .infinitebanner-container-track {
        animation: scroll 40s linear infinite;
        display: flex;
        width: calc(250px * 14);
    }

    .infinitebanner-container:hover .infinitebanner-container-track:hover {
        animation-play-state: paused;
    }

    .infinitebanner-container .infinitebanner-item {
        height: 100px;
        width: 250px;
        transition: 0.2s;
    }

    .anim-gradient-text {
        /* Fallback: Set a background color. */
        background-color: #fd1d24;

        /* Create the gradient. */
        background-image: linear-gradient(45deg,
                #CA4246 16.666%,
                #E16541 16.666%,
                #E16541 33.333%,
                #F18F43 33.333%,
                #F18F43 50%,
                #8B9862 50%,
                #8B9862 66.666%,
                #476098 66.666%,
                #476098 83.333%,
                #A7489B 83.333%);

        /* Set the background size and repeat properties. */
        background-size: 100%;
        background-repeat: repeat;

        /* Use the text as a mask for the background. */
        /* This will show the gradient as a text color rather than element bg. */
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        /* Animate the text when loading the element. */
        /* This animates it on page load and when hovering out. */
        animation: rainbow-text-simple-animation-rev 0.75s ease forwards;

    }

    .anim-gradient-text:hover {
        animation: rainbow-text-simple-animation 0.5s ease-in forwards;
    }


    /* Move the background and make it smaller. */
    /* Animation shown when entering the page and after the hover animation. */
    @keyframes rainbow-text-simple-animation-rev {
        0% {
            background-size: 650%;
        }

        40% {
            background-size: 650%;
        }

        100% {
            background-size: 100%;
        }
    }

    /* Move the background and make it larger. */
    /* Animation shown when hovering over the text. */
    @keyframes rainbow-text-simple-animation {
        0% {
            background-size: 100%;
        }

        80% {
            background-size: 650%;
        }

        100% {
            background-size: 650%;
        }
    }

    @keyframes scroll {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(calc(-250px * 7));
        }
    }

    /* id */

    #viewport {
        padding: 5vh 0;
    }

    #section-awards-mobile h2 {
        margin-block-end: 0;
    }

    #section-awards-mobile p {
        margin-block-start: 2px;
    }

    #section-awards-mobile {
        position: relative;
        height: 500px;
    }

    #section-awards-mobile video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
    }

    #contact {
        position: fixed;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        border: 1px solid black;
        border-radius: 100px;
        padding: 1px 20px;
        backdrop-filter: blur(10px);
        background-color: #ffffffa1;
        z-index: 1000000;
        -webkit-backdrop-filter: blur(30px);
    }

    #contact ul {
        display: flex;
    }

    #contact li {
        flex-direction: row;
        margin: 0 10px 0 10px;
    }

    #section-bullet {
        text-align: center;
    }

    #section-bullet ul {
        display: block;
        gap: 20px;
    }

    #headline-ywaste {
        background-color: #dbdbdb;
        color: #3a8080;
    }

    #headline-ywaste span {
        border: 1px solid #3a8080;
    }

    #headline-mpd {
        background-color: #031d57;
        color: #fff;
    }

    #headline-panasonic {
        background-color: #0056a8;
        color: #fff;
    }

    #headline-album {
        background-image: url("/img/headline/album/albumbg.png");
        color: white;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #headline-ywaste-mockup-1 {
        background-image: url("/img/headline/ywaste/browse.png");
    }

    #headline-ywaste-mockup-2 {
        background-image: url("/img/headline/ywaste/vendor.png");
    }

    #headline-ywaste-mockup-3 {
        background-image: url("/img/headline/ywaste/map.png");
    }

    #headline-panasonic-mockup-1 {
        background-image: url("/img/headline/panasonic/home.png");
    }

    #headline-panasonic-mockup-2 {
        background-image: url("/img/headline/panasonic/search.png");
    }

    #headline-panasonic-mockup-3 {
        background-image: url("/img/headline/panasonic/secondpage.png");
    }

    /* #headline-album {
        background-image: url("/img/headline/album/albumbg.png");
        color: white;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    } */

    #headline-album span {
        border: 1px solid white;
    }

    #section-recents img {
        width: 100%;
    }

    #section-recents h2 {
        margin-block-end: 0;
    }

    #section-recents p {
        margin-block-start: 2px;
    }

    #section-motiongraphics li {
        border: 0px solid black;
        width: 100%;
        height: 10vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        transition: 0.5s;
    }

    #detail-screenshot img {
        display: inline;
        height: 50vh;
        margin-right: 1vw;
    }

    #detail-screenshot video {
        display: none;
    }

    #detail-screenshot {
        height: max-content;
        white-space: nowrap;
        overflow-y: hidden;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        -webkit-mask-image: linear-gradient(90deg, #000 80%, transparent);
        padding-left: 10vw;
    }

    #detail-details {
        display: block;
    }

    #detail-details img,
    video {
        width: 100%;
    }

    /* interactive animation */

    a:hover {
        opacity: 0.5;
    }

    #headline-ywaste-mockup-1:hover {
        background-image: url("/img/headline/ywaste/browsefilter.gif");
    }

    #headline-ywaste-mockup-2:hover {
        background-image: url("/img/headline/ywaste/vendor.gif");
    }

    #headline-ywaste-mockup-3:hover {
        background-image: url("/img/headline/ywaste/map.gif");
    }

    #headline-panasonic-mockup-1:hover {
        background-image: url("/img/headline/panasonic/home.gif");
    }

    #headline-panasonic-mockup-2:hover {
        background-image: url("/img/headline/panasonic/search.gif");
    }

    #headline-panasonic-mockup-3:hover {
        background-image: url("/img/headline/panasonic/secondpage.gif");
    }

    #section-motiongraphics li:hover {
        height: 30vh;
    }

    .section-motiongraphics-item-1:hover,
    .section-motiongraphics-item-1:active {
        background-image: url("/img/motiongraphics/quitphubbing.gif");
    }

    .section-motiongraphics-item-2:hover,
    .section-motiongraphics-item-2:active {
        background-image: url("/img/motiongraphics/zone.gif");
    }

    .section-motiongraphics-item-3:hover,
    .section-motiongraphics-item-3:active {
        background-image: url("/img/motiongraphics/dottept1.gif");
    }

    /* dark mode */

    @media (prefers-color-scheme: dark) {
        body {
            background: #1e1e1e;
            color: rgb(225, 225, 225);
        }

        header {
            background: #1e1e1e;
            border-bottom: rgb(0, 0, 0) solid 1px;
        }

        #header-menu-mobile {
            background-color: rgba(30, 30, 30, 0.466);
        }

        #panasonic {
            border-color: #0074f8;
            color: #0074f8;
        }

        #panasonic span {
            color: #0074f8;
        }

        p {
            color: #acacac;
        }

        .list-item {
            border-bottom: 1px solid rgb(66, 66, 66);
        }

        .splash-screen {
            background-color: #1e1e1e70;
            text-align: center;
        }

        .awards-right-portion svg {
            fill: #fff;
        }
    }
}

/* Mobile Phone Landscape Fix */

@media screen and (min-width: 568px) and (max-width: 926px) {

    .headline-lower-portion-album img {
        width: 200px;
        margin: 0 5px;
    }
}